@model AllProductsQueryModel

@using BestArts.Web.Infrastructure.Extensions

@{
    ViewData["Title"] = "Wishlist";

    var products = Model.Products.ToList();

    TempData["CurrentPage"] = Model.CurrentPage;
    TempData["CategorySort"] = Model.CategorySort;
    TempData["SearchString"] = Model.SearchString;
    TempData["ProductSorting"] = Model.ProductSorting;
    TempData["ReturnPage"] = "Wishlist";
    TempData["ProductsLeftOnPage"] = @Model.Products.Count();
}

@section css {
    <link rel="stylesheet" href="~/css/styles_products.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles_products_filter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles_pagination.css" asp-append-version="true" />
}


<div class="content-wrap wishlist">
    <h2 class="page-title divider">@ViewData["Title"]</h2>

    <partial name="_ProductFilterPartial" model="@Model" />

    <partial name="_PaginationPartial" model="@Model" />

    @if (!products.Any())
    {
        <span>
            You have not placed any products in your wishlist yet!
        </span>
    }
    else
    {
        <section class="product-list">
            @foreach (var product in products)
            {
                <div class="product-box">
                    <partial name="_ProductPartial" model="@product" />

                    <div class="product-btns">
                        <form method="post" asp-controller="Product" asp-action="RemoveFromWishlist" asp-route-userId="@User.GetId()" asp-route-productId="@product.Id">
                            <input type="submit" value="Remove" class="wishlist-btn danger-btn button" />
                        </form>

                        <form method="post" asp-controller="Cart" asp-action="AddToCart" asp-route-userId="@User.GetId()" asp-route-productId="@product.Id">
                            <input type="submit" value="Add to basket" class="wishlist-btn green-btn button" />
                        </form>
                    </div>
                </div>
            }
        </section>
    }
</div>