@model AllCartsViewModel

@using BestArts.Web.Infrastructure.Extensions

<tr class="product-box-table">
    <td class="product-img">
        <img src="~/img/handmade/@Model.ImageUrl" alt="Product Image" />
    </td>
    <td class="product-info">
        <div class="product-name">
            @Model.Name
        </div>
        <div class="product-size">
            @Model.Width.ToString("0.#") x @Model.Height.ToString("0.#") cm
        </div>
    </td>
    <td class="product-price">
        @Model.Price BGN
    </td>
    <td class="product-multiply">
        x
    </td>
    <td class="product-quantity">

        <form class="product-form" method="post"
              asp-controller="Cart"
              asp-action="UpdateCart"
              asp-route-userId="@User.GetId()"
              asp-route-productId="@Model.ProductId"
              asp-route-name="@Model.Name"
              asp-route-imageUrl="@Model.ImageUrl"
              asp-route-width="@Model.Width"
              asp-route-height="@Model.Height"
              asp-route-Price="@Model.Price">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Quantity" value="@Model.Quantity" aria-required="true" min="1" max="10" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div>
                <button class="update-btn green-btn button" type="submit">Update</button>
            </div>
        </form>
    </td>
    <td class="product-btns">
        <form method="post" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-userId="@User.GetId()" asp-route-productId="@Model.ProductId">
            <input type="submit" value="Remove" class="wishlist-btn danger-btn button" />
        </form>
    </td>
</tr>