@model AllProductsQueryModel

@using BestArts.Services.Data.Interfaces
@using BestArts.Web.Infrastructure.Extensions

@inject IWishlistService WishlistService
@inject ICartService CartService


@{
    ViewData["Title"] = "Handmade";

    var products = Model.Products.ToList();

    TempData["CurrentPage"] = Model.CurrentPage;
    TempData["CategorySort"] = Model.CategorySort;
    TempData["SearchString"] = Model.SearchString;
    TempData["ProductSorting"] = Model.ProductSorting;
    TempData["ReturnPage"] = "Product";
    //TempData["ProductsLeftOnPage"] = @Model.Products.Count();
}

@section css {
    <link rel="stylesheet" href="~/css/styles_products.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles_products_filter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles_pagination.css" asp-append-version="true" />
}


<div class="content-wrap handmade">
    @if (User.IsAdmin())
    {
        <a class="add-btn green-btn button" asp-area="" asp-controller="Product" asp-action="Add">Add</a>
    }

    <h2 class="page-title divider">@ViewData["Title"]</h2>

    <partial name="_ProductFilterPartial" model="@Model" />

    <partial name="_PaginationPartial" model="@Model" />

    @if (!products.Any())
    {
        <span>
            Welcome to the Handmade page!
            <br />
            There are no products matching the selected filters.
            <br />
            Please try again later.
        </span>
    }
    else
    {
        <section class="product-list">

            @foreach (var product in products)
            {
                <div class="product-box">
                    <partial name="_ProductPartial" model="@product" />

                    <div class="product-btns admin">
                        @if (User != null && User.IsAdmin())
                        {
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="edit-btn green-btn button">Edit</a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="delete-btn danger-btn button">Delete</a>
                        }
                        else
                        {
                            @if ((User?.Identity?.IsAuthenticated ?? false) &&
                           (await WishlistService.IsAlreadyAddedAsync(User.GetId()!, product.Id)))
                            {
                                <form method="post" asp-controller="Product" asp-action="RemoveFromWishlist" asp-route-userId="@User.GetId()" asp-route-productId="@product.Id">
                                    <input type="submit" value="Remove from Wishlist" class="wishlist-btn danger-btn button" />
                                </form>
                            }
                            else if ((User?.Identity?.IsAuthenticated ?? false) &&
                            (await CartService.IsAlreadyAddedAsync(User.GetId()!, product.Id)))
                            {
                                <input type="submit" value="Added to basket" class="wishlist-btn green-btn-disabled button" disabled="disabled" />
                            }
                            else
                            {
                                <form method="post" asp-controller="Product" asp-action="AddToWishlist" asp-route-userId="@User?.GetId()" asp-route-productId="@product.Id">
                                    <input type="submit" value="Add to wishlist" class="wishlist-btn green-btn button" />
                                </form>
                            }
                        }
                    </div>
                </div>
            }
        </section>
    }
</div>