@model ProductDetailsViewModel

@using Microsoft.AspNetCore.Identity;
@using BestArts.Data.Models
@using BestArts.Web.Infrastructure.Extensions
@using BestArts.Services.Data.Interfaces

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IWishlistService WishlistService

@{
    ViewData["Title"] = "Product Details";
}

@section css {
    <link rel="stylesheet" href="~/css/styles_product_details.css" asp-append-version="true" />
}


<div class="content-wrap">
    <h2 class="page-title divider">@ViewData["Title"]</h2>

    <div class="product-box">
        <div class="product-img">
            <img src="~/img/handmade/@Model.ImageUrl" alt="Product Image" />
        </div>
        <div class="product-info">
            <div class="product-name">
                @Model.Name
            </div>
            <div class="product-type">
                Category: @Model.CategoryName
            </div>
            <div class="product-size">
                Size: @Model.Width.ToString("0.#") x @Model.Height.ToString("0.#") cm
            </div>
            <div class="product-price">
                Price: @Model.Price BGN
            </div>
            <div class="product-btns">
                @if (User.IsAdmin())
                {
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="edit-btn button">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id" class="delete-btn button">Delete</a>
                }
                else
                {
                    @if ((User?.Identity?.IsAuthenticated ?? false) &&
                        (await WishlistService.IsAlreadyAddedAsync(User.GetId()!, Model.Id)))
                    {
                        <form method="post" asp-controller="Product" asp-action="Remove" asp-route-userId="@User.GetId()" asp-route-productId="@Model.Id">
                            <input type="submit" value="Remove" class="wishlist-btn danger-btn button" />
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-controller="Product" asp-action="AddToWishlist" asp-route-userId="@User?.GetId()" asp-route-productId="@Model.Id">
                            <input type="submit" value="Add to wishlist" class="wishlist-btn success-btn button" />
                        </form>
                    }
                }
            </div>
        </div>
    </div>
</div>