@model ProductDetailsViewModel

@using Microsoft.AspNetCore.Identity;
@using BestArts.Data.Models
@using BestArts.Web.Infrastructure.Extensions

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Product Details";
}

@section css {
    <link rel="stylesheet" href="~/css/styles_product_details.css" asp-append-version="true" />
}


<div class="content-wrap stones">
    <h2 class="page-title divider">@ViewData["Title"]</h2>

    <div class="product-box">
        <div class="product-img">
            <img src="~/img/handmade/@Model.ImageUrl" />
        </div>
        <div class="product-info">
            <div class="product-name">
                @Model.Name
            </div>
            <div class="product-type">
                Category: @Model.CategoryName
            </div>
            <div class="product-size">
                Size: @Model.Width.ToString("0.#") x @Model.Height.ToString("0.#") cm
            </div>
            <div class="product-price">
                Price: @Model.Price BGN
            </div>
            @if (User.IsAdmin())
            {
                <div class="product-btns admin">
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="edit-btn button">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" class="delete-btn button">Delete</a>
                </div>
            }
            else @*if (User.Identity?.IsAuthenticated ?? false)*@
            {
                <div class="product-btns user">
                    <button class="add-to-wishlist-btn">Add to wishlist</button>
                </div>
            }
        </div>
    </div>
</div>